{% extends "layout" %}
{% import "form" as form %}
{% block body %}
<form method="post" accept-charset="utf-8">
  {% for key,value in form %}
    {{key}} : {{ form::input (field=value) }} <br/>
  {% endfor %}
  <input type="submit" value="Login">
</form>
{% endblock body %}
