<html>
  <head>
    <title>
      {{page.title}} - {{site.title}}
    </title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="menu">
      
    </div>
    {{ __tera_context }}
    <br/>
    <a href="/register">Register</a>
    <span> </span>
    <a href="/login?url={{req.uri}}">Login</a>
    <br/>
    {% block body %}
    <div><h1>Derived from layout.html.tera</h1></div>
    {% endblock body %}
  </body>
</html>