{{include "macro"}}

<html>

<body>

    {{#if no_login_form}}
    No login form
    {{else}}
    {{>login_form}}
    {{/if}}

    <hr/> 
    {{~> page}}
    <hr/> 
    {{>dump_context}}
</body>

</html>